/* Estilo CSS personalizado para alinear botones a la derecha */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar .mat-toolbar-row {
  justify-content: flex-end;
}

/* Estilo adicional para espaciar los botones si es necesario */
.mat-toolbar .example-spacer {
  flex: 1;
}

/* Estilo para los botones */
.mat-toolbar button {
  margin-left: 8px; /* Espaciado entre los botones (ajusta según sea necesario) */
}
.logo {
  height: 70px; /* Ajusta la altura del logo según tus preferencias */
  margin-right: 10px; /* Agrega margen derecho según tus preferencias */
  /* Otros estilos personalizados si los necesitas */
  margin: 0 auto;
}
