<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">FastFood</span>
  <span class="example-spacer"></span>
  <button mat-button class="example-icon favorite-icon ml-auto" aria-label="Example icon-button with heart icon" (click)="home()">Home</button>
  <button mat-button class="example-icon" aria-label="Example icon-button with share icon" (click)="fastFoodTable()">Table</button>
</mat-toolbar>
