body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #111113;
  color: #F6EBDD;
  padding: 20px 0;
  text-align: center;
}

header a {
  color: #F6EBDD;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

header a:hover {
  color: #D18681;
}

.home {
  background-image: url('../../../../assets/images/homepresentacion.jpg');
  background-size: cover;
  background-position: center;
  color: #F6EBDD;
  text-align: center;
  padding: 100px 0;
}

.home .content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.home h3 {
  font-size: 48px;
  margin: 0;
}

.home p {
  font-size: 18px;
  margin: 20px 0;
}

.read-more-button, .download-button {
  background-color: #D18681;
  color: #F6EBDD;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-button:hover, .download-button:hover {
  background-color: #D18681;
}

.AboutUs {
  background-color: #D18681;
  color: #111113;
  padding: 20px;
  text-align: center;
}

.AboutUs h1 {
  font-size: 48px;
  margin: 0;
  padding: 10px;
}

.AboutUs p {
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.image-list li {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #F6EBDD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.image-list img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#services {
  background-color: #F6EBDD;
  color: #111113;
  padding: 50px 0;
  text-align: center;
}

#services h2 {
  font-size: 36px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}

.grid img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

#contact {
  background-color: #D18681;
  color: #111113;
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.contact-image {
  flex: 1;
  text-align: center;
}

.contact-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px dashed #111113;
  padding: 20px;
  display: flex;
}

@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  header a {
    margin: 0 10px;
  }

  .home {
    padding: 50px 0;
  }

  .home h3 {
    font-size: 36px;
  }

  .home p {
    font-size: 16px;
  }

  .read-more-button, .download-button {
    padding: 8px 16px;
  }

  .AboutUs h1 {
    font-size: 36px;
  }

  .AboutUs p {
    font-size: 16px;
  }

  .image-list li {
    padding: 8px;
  }

  #services h2 {
    font-size: 24px;
  }

  .grid img {
    height: 250px;
  }

  #contact {
    padding: 30px 0;
  }

  .contact-content {
    text-align: center;
  }

  .contact-text {
    max-width: 80%;
  }

  .contact-image img {
    padding: 10px;
  }
}

button {
  background-color: #D18681;
  color: #F6EBDD;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: #D18681;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
